# 1.User will input (3ages).Find the oldest one

In [1]:
a = int(input("enter the value"))
b = int(input("enter the value"))
c = int(input("enter the value"))


max = a

if max < b:
    max = b
if max < c:
    max = c
print("the oldest value:",max)

enter the value15
enter the value25
enter the value10
the oldest value: 25

# 2.Write a program that will convert celsius value to fahrenheit

In [2]:
# Python Program to convert temperature in celsius to fahrenheit

temp = float(input("enter the number"))

fahrenheit = (temp * 1.8)+32
print(fahrenheit)

enter the number250
482.0

# 3.User will input (2numbers).Write a program to swap the numbers

In [3]:
A = int(input("enter your first number"))
B = int(input("enter your second number"))

swap = A
A = B
B = swap

print('the value of A:', A)
print('the value of B:', B)

enter your first number15
enter your second number25
the value of A: 25
the value of B: 15

# 4.Write a program that will give you the sum of 3 digits

In [4]:
num1 = int(input("Enter The First Number"))
num2 = int(input("Enter The Second Number"))
num3 = int(input("Enter The Third Number"))

sum  = num1+num2+num3
print("Three Numbers are : ", num1, num2, num3)
print("Sum is : ",sum)

Enter The First Number10
Enter The Second Number10
Enter The Third Number10
Three Numbers are :  10 10 10
Sum is :  30

# 5.Write a program that will reverse a four digit number.Also it checks whether the reverse is true.

In [5]:
num = int(input("enter the number"))    # slicing

reverse = print(str(num)[::-1])

# chech the true or false
if num == reverse:
    print('true')
else:
    print('false')

enter the number12345
54321
false

# 6.Write a program that will tell whether the number entered by the user is odd or even.

In [6]:
number  = int(input("enter the number"))

#statement
if number%2 == 0:
    print("even")
else:
    print("odd")

enter the number2
even

In [7]:
number  = int(input("enter the number"))

#statement
if number%2 == 0:
    print("even")
else:
    print("odd")

enter the number5
odd

# 7.Write a program that will tell whether the given year is a leap year or not.

In [8]:
year = int(input('enter the year number'))

if year % 4 == 0:
    print("leap year")
else:
    print("not leap")

enter the year number2020
leap year

In [9]:
year = int(input('enter the year number'))

if year % 4 == 0:
    print("leap year")
else:
    print("not leap")

enter the year number2021
not leap

# 8.Write a program to find the euclidean distance between two coordinates.

In [10]:
x1 = float(input("enter the value x1 "))
y1 = float(input("enter the value y1 "))
x2 = float(input("enter the value x2 "))
y2 = float(input("enter the value y2 "))


D = ((x2 - x1)**2 + (y2 - y1)**2)**0.5
print("euclidean distance",D)

enter the value x1 1
enter the value y1 5
enter the value x2 7
enter the value y2 8
euclidean distance 6.708203932499369

In [11]:

def euclidean_distance(x1,y1,x2,y2):
    return ((x2 - x1)**2 + (y2 - y1)**2)**0.5

print("euclidean distance")

euclidean distance

In [12]:
euclidean_distance(1,2,4,2)

3.0

# 9.Write a program that take a user inputr of three angles and will find out whether it can form a triangle or not.

In [13]:
a = int(input('enter the first angle '))
b = int(input('enter the second angle '))
c = int(input('enter the third angle '))

if a + b + c == 180 and a!=0 and b!=0 and c!=0:
    print("possible")
else:
    print("not")

enter the first angle 45
enter the second angle 45
enter the third angle 80
not

In [14]:
a = int(input('enter the first angle '))
b = int(input('enter the second angle '))
c = int(input('enter the third angle '))

if a + b + c == 180 and a!=0 and b!=0 and c!=0:
    print("possible")
else:
    print("not")

enter the first angle 45
enter the second angle 45
enter the third angle 90
possible

# 10.Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit

In [15]:
cp = float(input("enter the cost price"))
sp = float(input("enter the selling price"))


if cp > sp:
    amount = cp-sp
    print('loss',amount)
else:
    amount = sp - cp
    print('profit',amount)

enter the cost price500
enter the selling price650
profit 150.0

# 11.Write a program to find the simple interest when the value of principle,rate of interest and time period is given.

In [16]:
p = int(input("enter the principle amount:"))
r = int(input("enter the rate of intreset:"))
t = int(input("enter the time period:"))

si = (p * r * t)/100
print("your simple intrest is:",si)

a = p + si
print("your amount is:",a)

enter the principle amount:50000
enter the rate of intreset:10
enter the time period:20
your simple intrest is: 100000.0
your amount is: 150000.0

# 12.Write a program to find the volume of the cylinder.

In [17]:
r = float(input("enter your radius"))
h = float(input("enter your height"))

v = 3.14*(r**2)*h       #formula = pie*r2*h
print('your volume is :', v)
cost = v/1000 * 40 
print('your cost is :',v)

enter your radius150
enter your height20
your volume is : 1413000.0
your cost is : 1413000.0

# 13.Write  a program that will tell whether the given number is divisible by 3 & 6.

In [18]:
num = int(input("enter the number "))

if num % 3 == 0 and num % 6 == 0:
    print("divisible")
else:
    print("not divisible")

enter the number 10
not divisible

In [19]:
num = int(input("enter the number: "))

if num % 3 == 0 and num % 6 == 0:
    print("divisible")
else:
    print("not divisible")

enter the number: 12
divisible

# 14.Write a program that will determine weather when the value of temperature and humidity is provided by the user.

            TEMPERATURE(C)      HUMIDITY(%)      WEATHER
            
            
            >= 30                >=90               Hot and Humid
            >= 30                < 90               Hot
            <30                  >= 90              Cool and Humid
            <30                  <90                Cool

In [20]:
weather = 0
te = int(input("enter the temp:"))
hu = int(input("enter the humidity:"))


if te >= 30 and hu >= 90:
    print("hot and humid")
if te >= 30 and hu < 90:
    print("hot")
if te <30 and hu >= 90:
    print("cool and humid")
if te<30 and hu < 90:
    print("cool")

enter the temp:50
enter the humidity:50
hot

In [21]:
weather = 0
te = int(input("enter the temp:"))
hu = int(input("enter the humidity:"))


if te >= 30 and hu >= 90:
    print("hot and humid")
if te >= 30 and hu < 90:
    print("hot")
if te <30 and hu >= 90:
    print("cool and humid")
if te<30 and hu < 90:
    print("cool")

enter the temp:20
enter the humidity:60
cool

# 15.Write a program that will take three digits from the user and add the square of each digit

In [22]:
a = int(input("enter the one digit "))
b = int(input("enter the second digit "))
c = int(input("enter the third digit "))


add = (a**2)+ (b**2) + (c**2)
print("required number :",add)

enter the one digit 10
enter the second digit 10
enter the third digit 10
required number : 300

# 16.Write a program that will check whether the number is armstrong number or not.

In [23]:
# Python program to check if the number is an Armstrong number or not

# take input from the user
num = int(input("Enter a number: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 4565
4565 is not an Armstrong number

In [24]:
# Python program to check if the number is an Armstrong number or not

# take input from the user
num = int(input("Enter a number: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 153
153 is an Armstrong number

# 17.Write a program that will take user input of (4 digits number) and check whether the number is narcissist number or not.

In [26]:
user_input = int(input("enter a four digit number"))
num = user_input

a = num % 10
num = num // 10
b = num %10
num  = num // 10
c = num % 10
d = num // 10

if (a**4) + (b**4) + (c**4) +(d**4) == user_input:
    print('Narcastict number')
else:
    print('not a narcastict number')

enter a four digit number4568
not a narcastict number

In [31]:
user_input = int(input("enter a four digit number"))
num = user_input

a = num % 10
num = num // 10
b = num %10
num  = num // 10
c = num % 10
d = num // 10

if (a**4) + (b**4) + (c**4) +(d**4) == user_input:
    print('Narcastict number')
else:
    print('not a narcastict number')

enter a four digit number1634
Narcastict number

# 18.Write a program that will give you the in hand salary after deduction of HRA(10%),DA(5%),PF(3%), and tax(if salary is between 5-10 lakh–10%),(11-20lakh–20%),(20< _   – 30%)(0-1lakh print k).

In [32]:
user_input = float(input("enter your annual salary:"))

if user_input > 500000 and user_input <1000000:
    tax = (10/100)*user_input
    temp_salary = user_input - tax
elif user_input > 1000000 and user_input < 2000000:
    tax = (20/100)*user_input
    temp_salary = user_input - tax
else:
    tax = (30/100)* user_input
    temp_salary = user_input - tax
    
    
print("after salary deduction :",temp_salary)


hra = (10/100)*temp_salary
da = (5/100)*temp_salary
pf = (3/100)*temp_salary

in_handsalary = (temp_salary - hra - da - pf)/12
print('in hand salary is:',in_handsalary)

if in_handsalary  <= 999:
    print(in_handsalary)
elif in_handsalary >=1000 and in_handsalary <=9999:
    print(in_handsalary/1000,'k')
elif in_handsalary >= 100000 and in_handsalary <= 9999999:
    print(in_handsalary/1000000,'1')
else:
    print(in_handsalary/1000000,'cr')

enter your annual salary:6000000
after salary deduction : 4200000.0
in hand salary is: 287000.0
0.287 1

In [33]:
user_input = float(input("enter your annual salary:"))

if user_input > 500000 and user_input <1000000:
    tax = (10/100)*user_input
    temp_salary = user_input - tax
elif user_input > 1000000 and user_input < 2000000:
    tax = (20/100)*user_input
    temp_salary = user_input - tax
else:
    tax = (30/100)* user_input
    temp_salary = user_input - tax
    
    
print("after salary deduction :",temp_salary)


hra = (10/100)*temp_salary
da = (5/100)*temp_salary
pf = (3/100)*temp_salary

in_handsalary = (temp_salary - hra - da - pf)/12
print('in hand salary is:',in_handsalary)

if in_handsalary  <= 999:
    print(in_handsalary)
elif in_handsalary >=1000 and in_handsalary <=9999:
    print(in_handsalary/1000,'k')
elif in_handsalary >= 100000 and in_handsalary <= 9999999:
    print(in_handsalary/1000000,'1')
else:
    print(in_handsalary/1000000,'cr')

enter your annual salary:90000000
after salary deduction : 63000000.0
in hand salary is: 4305000.0
4.305 1

# 19.Write a menu driven program - 1.cm to ft  2.kl to miles  3.usd to inr  4.exit

In [34]:
user = input('''
HI! Welcome To My Page
What Would Like To DO 

1.convert cm to inches
2.convert km to miles
3.convert usd to inr
4.EXIST ''')

if user == '1':
    cm  = float(input("enter a value in cm"))
    inch = cm* 0.394
    print("your value is inch:",inch)
elif user == '2':
    km = float(input("enter a value in km"))
    mile = km* 0.621
    print("your value in mile:",mile)
elif user == '3':
    usd = float(input("enter a amount in usd"))
    inr  = usd * 76.63
    print("your in amount:",inr)
else:
    print("exist")

HI! Welcome To My Page
What Would Like To DO

1.convert cm to inches
2.convert km to miles
3.convert usd to inr
4.EXIST 3
enter a amount in usd50
your in amount: 3831.5

In [35]:
user = input('''
HI! Welcome To My Page
What Would Like To DO 

1.convert cm to inches
2.convert km to miles
3.convert usd to inr
4.EXIST ''')

if user == '1':
    cm  = float(input("enter a value in cm"))
    inch = cm* 0.394
    print("your value is inch:",inch)
elif user == '2':
    km = float(input("enter a value in km"))
    mile = km* 0.621
    print("your value in mile:",mile)
elif user == '3':
    usd = float(input("enter a amount in usd"))
    inr  = usd * 76.63
    print("your in amount:",inr)
else:
    print("exist")

HI! Welcome To My Page
What Would Like To DO

1.convert cm to inches
2.convert km to miles
3.convert usd to inr
4.EXIST 1
enter a value in cm50
your value is inch: 19.7

# 20.Take the current units from user and predict the amount to pay

In [36]:
amt=0
nu=int(input("Enter number of electric unit"))
if nu<=100:
     amt=0
if nu>100 and nu<=200:
     amt=(nu-100)*5
if nu>200:
     amt=500+(nu-200)*10
print("Amount to pay :",amt)

Enter number of electric unit51
Amount to pay : 0

In [38]:
amt=0
nu=int(input("Enter number of electric unit"))
if nu<=100:
     amt=0
if nu>100 and nu<=200:
     amt=(nu-100)*5
if nu>200:
     amt=500+(nu-200)*10
print("Amount to pay :",amt)

Enter number of electric unit500
Amount to pay : 3500