# 41.Write a program to print the following pattern
             *
             ** 
             ***
             ****
             *****

In [1]:
#Program to print Left Half Pyramid
num_rows = int(input("Enter the number of rows"));
k = 1
for i in range(0, num_rows):
    for j in range(0, k):
        print("* ", end="")
    k = k + 1
    print()

Enter the number of rows5
*
* *
* * *
* * * *
* * * * *

# 42.Write a program to print the following pattern
       *
       **
       ***
       **
       *

In [2]:
def pattern(n):
   # print upper triangle
   for i in range(n):
      for j in range(i+1):
         # printing stars
         print("* ",end="")
      print("\r")
      
   # print lower triangle
   for i in range(n):
      for j in range(n-i-1):
         # printing stars
         print("* ",end="")
      print("\r")
 
# take inputs
n = int(input('Enter the number of rows: '))

# calling function
pattern(n)

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

# 43. Write  a program to print the following pattern
         *
       * * *
     * * * * *
    * * * * * * *

In [3]:
# Python star pattern to print triangle

def pattern(n):
   i = 1
   while i<=n:
      # printing stars
      print(" "*(n-i) + "* " * i)
      i+=1 
 
# take inputs
n = int(input('Enter the number of rows: '))

# calling function
pattern(n)

Enter the number of rows: 5
    *
   * *
  * * *
 * * * *
* * * * *

# 44.Write a program to print the following pattern
             [0]
             [0, 1]
             [0, 1, 2]
             [0, 1, 2, 3]
             [0, 1, 2, 3, 4]
             [0, 1, 2, 3, 4, 5]
             [0, 1, 2, 3, 4, 5, 6]
             [0, 1, 2, 3, 4, 5, 6, 7]
             [0, 1, 2, 3, 4, 5, 6, 7, 8]
             [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
myList = []
i = 0

while len(myList) < 10:
  myList.append(i)
  i +=1

  print(myList)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 2, 3]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7]
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

# 45.Write a program to calculate the sum of the following series till the nth term
       1/1! + 2/2! + 3/3! + 4/4! +…….+ n/n!
                                           n will be provided by the user

In [5]:
# user input
num  =  int(input("enter the number"))
result = 0
fact = 1


for i in range (1,num + 1):
    fact = fact * i
    result = result + (i/fact)
print(result)

enter the number10
2.7182815255731922

# 46.Extract username from a given email. 
         Eg if the email is grajeshchary771@gmail.com then the username should be grajeshchary771

In [6]:
email = input("enter your email")
username, mail = email.split("@")
print(username)

enter your emailgrajeshchary771@gmail.com
grajeshchary771

# 47.Write a python program to remove all the duplicates from a list

In [7]:
l1 = [1,1,2,3,3,4,5,6,6,7,7,7,8]
l2 = []


for i in l1:
    if i not  in l2:
        l2.append(i)
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8]

# 48.Python program to find number of vowels in list

In [8]:
a = input("enter your string  ")
vowels = 'aeiou'
count = 0

for i in a:
    if i in vowels:
        count = count + 1
print(count)

enter your string  hi rajesh how are u
7

# 49.Convert string to title case without title()

In [9]:
str = 'helLO RAjeSH How ARE you'
a =str.lower()
print(a)

hello rajesh how are you

# 50.   Combine two list

In [10]:
l1 = [1,2,3,4,5]
l2 = [5,7,8,9,10]
L = []

L = l1+l2

In [11]:
L

[1, 2, 3, 4, 5, 5, 7, 8, 9, 10]

# 51. Make a program in which user can  various functions

In [12]:
num1=int(input("Enter first number"))

num2=int(input("Enter second number"))

op=input("Enter mathematical operator")

if op=='+':

     print("Result is ", num1+num2)

if op=='-':

    print("Result is ", num1-num2)

if op=='*':

    print("Result is ", num1*num2)

if op=='/':

    print("Result is ", num1/num2)

if op=='%':

    print("Result is ", num1%num2)

Enter first number20
Enter second number40
Enter mathematical operator*
Result is  800

In [13]:
num1=int(input("Enter first number"))

num2=int(input("Enter second number"))

op=input("Enter mathematical operator")

if op=='+':

     print("Result is ", num1+num2)

if op=='-':

    print("Result is ", num1-num2)

if op=='*':

    print("Result is ", num1*num2)

if op=='/':

    print("Result is ", num1/num2)

if op=='%':

    print("Result is ", num1%num2)

Enter first number10
Enter second number45
Enter mathematical operator-
Result is  -35

# 52.Write a Program to fine multipication Table

In [14]:
# Multiplication table (from 1 to 10) in Python

num = 12

# To take input from the user
# num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [15]:
# Multiplication table (from 1 to 10) in Python

num = 20

# To take input from the user
# num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

20 x 1 = 20
20 x 2 = 40
20 x 3 = 60
20 x 4 = 80
20 x 5 = 100
20 x 6 = 120
20 x 7 = 140
20 x 8 = 160
20 x 9 = 180
20 x 10 = 200

# 53.How to flatten a 2D list in Python

In [16]:
L = [1,2,3,4,5,[6,7,8,9,]]
flt  = []

for i in L:
    if type(i) == list:
        flt.extend(i)
    else:
        flt.append(i)
print(flt)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

# 54.Convert items of the List into Dictionary

In [17]:
l = [1,2,3,4,5,6,7,8,9]

d = {}

for i in l:
    d[i] = i ** 2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

# 55.Python Program to Convert Decimal to Binary, Octal and Hexadecimal

In [18]:
# Python program to convert decimal into other number systems
dec = 344

print("The decimal value of", dec, "is:")
print(bin(dec), "in binary.")
print(oct(dec), "in octal.")
print(hex(dec), "in hexadecimal.")

The decimal value of 344 is:
0b101011000 in binary.
0o530 in octal.
0x158 in hexadecimal.

 # 56.Python Program to Represent enum

In [19]:
from enum import Enum

class Day(Enum):
    MONDAY = 1
    TUESDAY = 2
    WEDNESDAY = 3

# print the enum member
print(Day.MONDAY)

# get the name of the enum member
print(Day.MONDAY.name)

# get the value of the enum member
print(Day.MONDAY.value)

Day.MONDAY
MONDAY
1

# 57.Python Program to Create a Countdown Timer

In [20]:
import time

def countdown(time_sec):
    while time_sec:
        mins, secs = divmod(time_sec, 60)
        timeformat = '{:02d}:{:02d}'.format(mins, secs)
        print(timeformat, end='\r')
        time.sleep(1)
        time_sec -= 1

    print("stop")

countdown(5)

stop1

# 58.Python Program To Make Calender

In [21]:
# Python program to display calendar of
# given month of the year
 
# import module
import calendar
 
yy = 2017
mm = 11
 
# display the calendar
print(calendar.month(yy, mm))

   November 2017
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

In [22]:
# Python program to display calendar of
# given month of the year
 
# import module
import calendar
 
yy = 2022
mm = 6
 
# display the calendar
print(calendar.month(yy, mm))

     June 2022
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

# 59. Import All calenders

In [23]:

# Python program to display calendar of
# given year
 
# import module
import calendar
 
yy = 2022
 
# display the calendar
print(calendar.calendar(yy))

                                  2022

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6          1  2  3  4  5  6
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13
10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20
17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27
24 25 26 27 28 29 30      28                        28 29 30 31
31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3                         1             1  2  3  4  5
 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12
11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19
18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26
25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30
                          30 31

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
             1  2  3       1  2  3  4  5  6  7                1  2  3  4
 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11
11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18
18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25
25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                1  2  3  4
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11
10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18
17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25
24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31
31

# 60.Python Program To print current time and date

In [24]:
from datetime import datetime

# datetime object containing current date and time
now = datetime.now()
 
print("now =", now)

# dd/mm/YY H:M:S
dt_string = now.strftime("%d/%m/%Y %H:%M:%S")
print("date and time =", dt_string)

now = 2022-06-28 23:00:50.676821
date and time = 28/06/2022 23:00:50